/* line 1, style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, style.scss */
#hero {
  text-align: center;
}

/* line 13, style.scss */
.video-container {
  position: relative;
  margin: 0 auto;
  height: 505px;
  overflow: hidden;
}
/* line 18, style.scss */
.video-container .play-now {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 100px;
  width: 110px;
  height: 110px;
  opacity: 0.9;
}
/* line 27, style.scss */
.video-container video {
  height: 530px;
  overflow: hidden;
  -webkit-mask: url("../img/video-mask.svg") center top no-repeat;
  -webkit-mask-size: 594px;
  -webkit-filter: blur(15px) saturate(0.8);
  transition-property: all;
  transition-duration: 0.7s;
}
/* line 35, style.scss */
.video-container video:hover {
  height: 550px;
  -webkit-filter: blur(0px) saturate(1);
}
