/* line 3, style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, style.scss */
a {
  text-decoration: none;
}

/* line 12, style.scss */
body {
  background: #FAF8F5;
  font-family: sans-serif;
}

/* line 17, style.scss */
#hero {
  margin-top: 80px;
  text-align: center;
}

/* based on width 505px */
/* to avoid blurred white border */
/* video width need fixes */
/* line 27, style.scss */
.video-container {
  position: relative;
  width: 594px;
  height: 505px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 33, style.scss */
.video-container .play-now {
  transition-property: all;
  transition-duration: 0.3s;
  position: absolute;
  top: 259px;
  left: 242px;
  width: 110px;
  height: 110px;
  opacity: 0.5;
  margin: 0 auto;
  z-index: 1;
}
/* line 36, style.scss */
.video-container .play-now:hover {
  opacity: 1;
  cursor: pointer;
}
/* line 49, style.scss */
.video-container video {
  -webkit-transform: translateZ(0);
  cursor: pointer;
  position: relative;
  left: -169.78218px;
  height: 525px;
  -webkit-mask: url("../img/video-mask.svg") center top no-repeat;
  -webkit-mask-size: 594px;
  -webkit-filter: blur(10px) saturate(0.8);
  transition-property: all;
  transition-duration: 0.7s;
}
/* line 60, style.scss */
.video-container video:hover {
  -webkit-filter: blur(0px) saturate(1);
}

/* line 66, style.scss */
.slogan {
  width: 519px;
  height: 53px;
  margin: 0 auto;
  background: url("../img/slogan.svg") center center no-repeat;
  background-size: 519px;
  margin-top: 65px;
  color: transparent;
}

/* line 76, style.scss */
.punch-line {
  font-family: "Lantinghei TC";
  font-size: 15px;
  font-weight: 300;
  color: #9f8e75;
  line-height: 18px;
  letter-spacing: 6px;
  margin-top: 23px;
}

/* line 86, style.scss */
.recruit {
  background: #f75e50;
  display: inline-block;
  height: 98px;
  width: 98px;
  color: white;
  border-radius: 98px;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 20px;
  margin-top: 70px;
}
/* line 100, style.scss */
.recruit:hover {
  background: #f64838;
}
