@charset "UTF-8";
@import "animate";

$red: #F75E50;
$content-width: 900px;
$video-width: 898 / 505 * 525; /* based on width 505px */
$video-offset: 20px; /* to avoid blurred white border */
$video-w: 505px / 9 * 16;

.play-now {
	display: block;
	transition-property: all;
	transition-duration: 0.3s;
	&:hover {
		opacity: 1;
		cursor: pointer;
	}
	position: absolute;
	top: 259px;
	left: 242px;
	width: 110px;
	height: 110px;
	opacity: 0.5;
	margin: 0 auto;
	z-index: 1;
}

@mixin col($width, $gutter) {
	width: $width - 1;
	display: inline-block;
	padding: 0 $gutter;
	box-sizing: border-box;
	vertical-align: top;
}

* {
	transition-property: all;
	transition-duration: 0.3s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,a {
	outline: none;
}

a img {
	border: none;
}

a {
	text-decoration: none;
	&:hover {
		color: $red;
	}
}

select::-ms-expand {
    display: none;
}

section {
	width: $content-width;
	margin-left: auto;
	margin-right: auto;
}

hr {
	border: none;
	display: block;
	background: #F2EBE0;
	height: 10px;
	border: 3px solid #FAF8F5;
	border-radius: 5px;
}

p, ul, ol {
	font-size: 14px;
	color: #7F6F59;
	line-height: 23px;
	margin-bottom: 1.3em;
}

ul {
	list-style: square inside;
}


h2 {
	small {
		color: #D9CFBF;
		font-size: 25px;
	}
	font-family: HiraKakuPro-W6;
	font-size: 25px;
	color: #000000;
	line-height: 30px;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 24px;
}


body {
	font-family: Helvetica,"Lantinghei TC", sans-serif;
	background: #FAF8F5;
	font-family: sans-serif;
}

section.overlay-player {
	background: #FAF8F5;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	.close {
	  position: absolute;
	  top: 20px;
	  left: 20px;
	  color: #666;
	  font-size: 30px;
	}
	div.out {
		div.in {
			width: 800px;
			margin: 0 auto;
		}
		border-radius: 6px;
		width: 100%;
		height: 450px;
	  position: absolute;
	  top: 50%;
	  height: 450px;
	  margin-top: -225px;
 	}
}

#hero {
	.play {
		position: absolute;
		left: 395px;
		top: 265px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	position: relative;
	margin-top: 80px;
	text-align: center;
	.main-image {
		width: 594px;
		height: 760px;
		margin: 0 auto;
		overflow: hidden;
		img {
			margin-top: -40px;
			width: 594px;
		  -webkit-mask: url("../img/video-mask-long.svg") center 40px no-repeat;
			-webkit-mask-size: 594px;
		}
	}
	.video-wrapper {
		position: relative;
		width: 594px;
		height: 505px;
		margin: 0 auto;
		overflow: hidden;
		video {
			position: relative;
			left: ( 594 - $video-w  * 1.1 ) / 2 - 1;
			width: $video-w * 1.1;
			height: 505px * 1.1;
		  -webkit-mask: url("../img/video-mask.svg") center top no-repeat;
			-webkit-mask-size: 594px;
			transition-property: none;
		  -webkit-filter: blur(0) saturate(0.8);
		  transition-property: all;
		  transition-duration: 0.7s;
		  &:hover {
			  -webkit-filter: blur(0px) saturate(1);
		  }
		}
	}
	.slogan {
		width: 540px;
		height: 53px;
		margin: 0 auto;
		background: url("../img/slogan-space.svg") center center no-repeat;
		background-size: 519px;
		margin-top: 65px;
		color: transparent;
	}
	
	.punch-line {
		font-size: 15px;
		font-weight: 300;
		color: #9f8e75;
		line-height: 18px;
		letter-spacing: 6px;
		margin-top: 23px;
	}
	
	.recruit {
		width: 98px;
		margin: 70px auto 0 auto;
		position: relative;
		div.fbla {
			position: absolute;
			display: block;
			left: -130px;
			width: 100px;
			top: 34px;
		}
		a {
			display: inline-block;
			background: url("../img/recruit.svg") center center no-repeat;
			background-size: 98px;
			height: 98px;
			width: 98px;
			color: white;
			font-weight: normal;
			border-radius: 98px;
			letter-spacing: 2px;
			font-size: 20px;
			line-height: 25px;
			padding-top: 20px;
		}
		span {
			position: absolute;
			display: block;
			left: 130px;
			text-align: left;	
			width: 120px;
			top: 30px;
			font-size: 13px;
			font-weight: 300;
			line-height: 20px;
			color: darken(#F2EBE0,30%);
			font-style: italic;
			letter-spacing: 2px;
		}
	}
	
	.cross {
		width: 60px;
		height: 60px;
		margin-top: 70px;
	}
	
}

@-webkit-keyframes shaking
{
	0% { top: -3px;}
	100% {top: 2px;}
}

@-webkit-keyframes slideshow
{
	0% { opacity: 0;}
	90% { opacity: 1;}
	100% {opacity: 1;}
}

@-webkit-keyframes shaking-hoz
{
	0% { right: -3px;}
	100% {right: 2px;}
}

#channel {
	margin: 140px auto;
	a.button {
		color: white;
		line-height: 34px;
		font-weight: bold;
		display: inline-block;
		height: 34px;
		padding: 0 19px;
		border-radius: 19px;
		background: $red;
		margin-bottom: 10px;
	}
	.left {
		margin-top: 90px;
		text-align: center;
		@include col(50%, 30px);
	}
	.right {
		@include col(50%, 30px);
	}
	.demo {
	  perspective: 800px;
	  -webkit-perspective: 800px;
	  height: 320px;
	  margin-top: 30px;
	  position: relative;
		img {
			border-radius: 4px;
			padding: 0;
			background: #F7F3EE;
			border: 1px solid white;
			position: absolute;
			transform-origin: center bottom;
			-webkit-transform-origin: center bottom;
			box-shadow: 0 -1px 4px rgba(0,0,0,0.3);
			&:hover {
				box-shadow: 0 0 10px $red;
			}
		}
		.macbook {
			&:hover {
				transform: rotateX(-15deg) scale(1.05);
				-webkit-transform: rotateX(-15deg) scale(1.05);
			}
			top: 0px;
			transform: rotateX(-15deg);
			-webkit-transform: rotateX(-15deg);
		}
		.ipad {
			&:hover {
				transform: rotateX(-18deg) scale(1);
				-webkit-transform: rotateX(-18deg) scale(1);
			}
			top: 50px;
			left: 10px;
			transform: rotateX(-18deg) scale(0.94);
			-webkit-transform: rotateX(-18deg) scale(0.94);
		}
		.iphone {
			&:hover {
				transform: rotateX(-21deg) scale(0.9);
				-webkit-transform: rotateX(-21deg) scale(0.9);
			}
			top: 90px;
			left: 25px;
			transform: rotateX(-21deg) scale(0.8);
			-webkit-transform: rotateX(-21deg) scale(0.8);
		}
	}
	.caption {
		text-align: center;
		span {
			color: #7F6F59;
			font-size: 12px;
		}
	}
}

#listing {
	.iphone {
		margin-left: 80px;
		width: 350px;
		height: 545px;
		background: url("../img/iphone-light.svg") center top no-repeat;
		background-size: 260px;
		text-align: center;
		position: relative;
		display: inline-block;
		@mixin point {
			display: block;
			width: 96px;
			height: 24px;
			line-height: 24px;
			font-size: 14px;
			position: absolute;
			color: #7F6F59;
			font-weight: bold;
			border-bottom: 2px solid #D9CFBF;
		}
		.point1 {
			@include point;
			top: 130px;
			left: -50px;
			text-align: left;
		}
		.point2 {
			@include point;
			top: 260px;
			left: -80px;
			width: 126px;
			text-align: left;
		}
		.point3 {
			@include point;
			top: 390px;
			left: -50px;
			text-align: left;
		}
		img {
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.2);
			margin-top: 78px;
			width: 224px;
			height: 398px;
		}
	}
	.right {
		margin-top: 120px;
		width: 350px;
		margin-left: 20px;
		vertical-align: top;
		text-align: left;
		display: inline-block;
		h2 {
			text-align: left;
		}
		h3 {
			color: darken(#7F6F59,20%);
			margin-bottom: 10px;
			margin-top: 20px;
			font-size: 16px;
		}
	}
	h3 .point {
		vertical-align: text-bottom;
		margin-bottom: 2px;
		display: inline-block;
	}
	.point {
		font-size: 9px;
		border-radius: 3px;
		margin-left: 4px;
		font-weight: bold;
		background: $red;
		color: white;
		vertical-align: top;
		padding: 1px 3px;
		font-family: Helvetica;
	}
}

#post-to-fb {
	.share-screen {
		width: 320px;
		display: block;
	}
	margin: 160px auto 180px auto;
	.left {
		margin-top: 50px;
		h2 {
			text-align: right;
		}
		p {
			width: 85%;
			display: inline-block;
		}
		text-align: right;
		@include col(50%, 50px);
	}
	.right {
		margin-top: 16px;
		.check-mark {
			float: left;
			display: block;
			margin-left: 256px;
			margin-top: 4px;
			margin-bottom: 16px;
			clear: both;
		}
		background: url("../img/share.png") left no-repeat;
		background-size: 309px;
		height: 208px;
		position: relative;
		
		text-align: left;
		@include col(50%, 20px);
		.fb1, .fb2 {
			display: none;
			position: absolute;
			top: 0;
			left: 20px;
			border-radius: 6px;
			-webkit-animation-duration: 3s;
			-webkit-animation-direction: alternate;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: ease-in-out;
			animation-duration: 3s;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}
		.fb1 {
			-webkit-animation-name: slideshow;
			-webkit-animation-delay: 0s;
			animation-name: slideshow;
			animation-delay: 0s;
			animation-name: slideshow;
			animation-delay: 0s;
			z-index: 1;
		}
	}
	h2 {
		text-align: left;
	}
	
}

#chats {
	margin: 180px auto;
	.left {
		text-align: right;
		@include col(55%, 20px);
	}
	.right {
		margin-top: 80px;
		text-align: left;
		@include col(40%, 20px);
	}
	h2 {
		text-align: left;
	}
}

#detail {
	a.go-to-shop {
		background: #D8E6EA;
		color: #83B2BE;
		font-weight: bold;
		padding: 1.2em;
		margin-left: 0.3em;
		border-radius: 5em;
		line-height: 17px;
		display: inline-block;
		float: right;
		margin-right: -2.5em;
	}
	h2 {
		margin-bottom: 60px;
	}
	text-align: left;
	.left {
		@include col(45%, 30px);
		margin-left: 80px;
	}
	.right {
		@include col(40%, 30px);
	}
	ul li span.number {
		font-family: Helvetica;
		// border-radius: 3px;
		// background: #7F6F59;
		// color: white;
		font-weight: bold;
		// padding: 1px 4px;
		// margin: 0 2px;
	}
	div > img {
		width: 65px;
		float: left;
		display: block;
	}
	h3 {
		font-size: 17px;
		margin-bottom: 10px;
	}
	div > p {
		margin-bottom: 36px;
		margin-left: 90px;
	}
	.left p {
		height: 50px;
	}
	div > h3 {
		margin-left: 90px;
	}
	
	.rates {
		p, h3, ul {
			margin-left: 0;
			margin-bottom: 20px;
		}
		.blue {
			color: #7ED3E4;
			margin-top: 0;
		}
		img.rates {
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}
	.right {
		hr {
			width: 100%;
			margin-bottom: 30px;
		}
	}
}

.underline {
	// padding-bottom: 1px;
	font-weight: bold;
	// color: $red;
	// border-bottom: 1px dotted $red;
}

#apply {
	.center {
		text-align: center;
		width: 900px;
		margin: 0 auto 100px auto;
	}
	h3 {
		margin-bottom: 20px;
	}
	margin-top: 150px;
	hr {
		width: 50%;
		margin: 10px auto 40px auto;
	}
	p {
		margin-bottom: 50px;
	}
	.social-links {
		a {
			&.inactive {
				opacity: 0.8;
				cursor: not-allowed;
				&:hover {
					background: rgba(217,200,164,0.6);
				}
			}
			color: darken(#7F6F59, 8%);
			span {
				line-height: 16px;
				font-size: 13px;
				color: lighten(#7F6F59, 60%);
				text-shadow: 0 0 2px rgba(0,0,0,0.2);
			}
			padding: 16px 20px 12px 20px;
			font-weight: bold;
			margin: 10px;
			min-width: 150px;
			border-radius: 6px;
			font-size: 20px;
			line-height: 20px;
			display: inline-block;
			background: rgba(217,200,164,0.6);
			&:hover {
				background: rgba(217,200,164,0.9);	
			}
		}
	}
	.application {
		width: 108px;
		margin: 40px auto 40px auto;
		position: relative;
		a {
			display: inline-block;
			background: $red;
			height: 108px;
			width: 108px;
			color: white;
			border-radius: 108px;
			letter-spacing: 2px;
			font-size: 20px;
			line-height: 25px;
			font-weight: bold;
			padding-top: 30px;
		}
	}
}