<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<meta charset="UTF-8">
  <title>Solda – 手打你的輕快販賣</title>
</head>
<body>
	
	<section id="hero">
		<div class="video-container">
		<video class="wow fadeIn"  data-wow-delay="1s">
<!-- 		http://www.html5rocks.com/en/tutorials/video/basics/ -->
		  <source src="video/one-love.mp4#t=00:00:23" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
		</video>
			<img class="play-now" src="img/play.svg" alt="" />
		</div>
		<h1 class="slogan">
			手打你的輕快販賣
		</h1>
		<h3 class="punch-line">隨時隨地用 iPhone 發佈販賣你的商品</h3>
		
		<p class="recruit"><a href="#recruit">商家<br/>召募中</a><span>為提昇服務品質，初期限量召募中。</span></p>
		
		<p><img src="img/cross.svg" class="cross" alt="" /></p>
		
	</section>
	
	<section id="channel">
		<div class="left">
			<h2>以您為主，<br/>
各種裝置完美呈現。</h2>
		<p>只要使用 iPhone 就可以輕鬆建立功能完整的購物通路。我們以商家為中心來思考整體設計，讓您的顧客在購買與瀏覽時能明確知道你的名字與品牌、而不是隸屬於大購物網站下的某某賣家。</p>
		</div>
		<div class="right">
			<p class="devices">
				<a class="link-to-demo" href="#">點擊觀看範例<br/><img src="../img/arrow.svg" alt="" /></a>
				<a href="http://solda.leolin.the-hold.handlino.com"><img src="img/content-1.svg" alt="" class="content-1 wow bounceInUp" data-wow-delay="1s" /></a>
				<a href="http://solda.leolin.the-hold.handlino.com"><img src="img/content-2.svg" alt="" class="content-2 wow bounceInUp" data-wow-delay="1.5s"  /></a>
				<a href="http://solda.leolin.the-hold.handlino.com"><img src="img/content-3.svg" alt="" class="content-3 wow bounceInUp" data-wow-delay="2s"  /></a>
			</p>
		</div>
	</section>
	
	<section id="listing">
		<div class="video-container">
				<a class="link-to-demo" href="#">幾張圖，一行文，便利上架 <img src="../img/arrow.svg" alt="" /></a>
			<video poster="img/demo.png" class="wow fadeInUp" src="" />
		</div>
		<hr />
		<h2>大師相機 <small>+</small> 天才鍵盤 <small>=</small> 便利上架</h2>
		<p>產品介紹未必要打很多文字才會吸引人。
多拍幾張照片，添加相關連結，加上一行精準的說明，就可以提供足夠多的資訊，發佈商品可以很便利。</p>
		<p>您的商品可以同時出現在 Facebook，Twitter 上，也可以將商品傳送給 Line 的朋友。</p>
		<p><img src="img/ss.svg" alt="" width="185px;" class="wow fadeInDown" /></p>
	</section>
	
	<section id="chats">
		<div class="left">
			<img width="409" src="img/chats.svg" alt="" class="wow slideInLeft" />
		</div>
		<div class="right wow slideInRight">
			<h2>手機即時問答</h2>
			<p>對於商品有問題時，顧客可以傳訊息問你，即使是不見面，您的顧客仍然可以感受到您的用心。</p>
		</div>
	</section>
	
<%= livereload_js %>
</body>
</html>
