<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/style.css" />
  <meta charset="UTF-8">
  <title>Solda – 手打你的輕快販賣</title>
</head>
<body>
	
	<section id="hero">
		<div class="video-container">
			<video src="video/one-love.mp4" autoplay="FALSE" muted="TRUE" loop="TRUE"></video>
		</div>
	</section>
	
<%= livereload_js %>
</body>
</html>
