<!doctype html>
<html lang="zh-tw">
	<head>
		<script src="/js-global/FancyZoom.js" type="text/javascript"></script>
		<script src="/js-global/FancyZoomHTML.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/wow.min.js"></script>
		<script>
				new WOW().init();
		</script>
		<meta charset="UTF-8">
		<title>Solda – 手打你的輕快販賣</title>
	</head>
	<body onload="setupZoom()">

		<section id="hero">
		   <div class="svgMask">
        <svg width="594" height="760" baseProfile="full" version="1.2">
            <defs>
                <mask id="svgmask2" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse" transform="scale(1)">
                    <image width="594" height="760" xlink:href="img/video-mask-long.svg"/>
                </mask>
            </defs>
            <image mask="url(#svgmask2)" width="594" height="890" y="0" x="0" xlink:href="img/yusha3.jpg"/>
        </svg>
	    </div>

<!-- 			<div class="main-image">
				<img class="wow fadeInUp" src="img/yusha1.jpg" alt="">
			</div> -->
<!-- 			<div class="video-wrapper">
				<video muted poster="img/poster.jpg" ></video>
				<a href="video/one-love.mp4"><img class="play-now" src="img/play.svg" alt="" /></a>
			</div> -->
		<h1 class="slogan">
		手打你的輕快販賣
		</h1>
		<h3 class="punch-line">想賣什麼？用 iPhone 就能輕快上線！</h3>
		
		<p class="recruit"><a href="#apply">商家<br/>召募中</a><span>為提昇服務品質，初期限量召募中。</span></p>
		
		<p><img src="img/cross.svg" class="cross" alt="" /></p>
		
	</section>
	
	<section id="channel">
		<div class="left">
			<h2>建立您的口袋商店</h2>

			<p>用 iPhone 輕鬆將您的商品發佈到網路上。</p>
			<p>Solda（手打）讓你擁有自己的專屬網站，建立品牌與群眾，而不是隸屬於購物網站下的小賣家。不需再糾結於拍賣、架站、金流、寫 app，你才能專心創造更棒的商品。
			</p>
			<p><a href="demo.html" class="button">看看商品頁面範例</a></p>
		</div>
		<div class="right">
				<p class="caption">
					<span>↓ 適用於電腦，平板，手機的商品網頁</span>
				</p>
			<div class="demo wow bounceIn"  data-wow-delay="0.9s" >
				<a title="開啟示範頁面" href="demo.html#state1"><img width="395" height="228" class="macbook" src="img/screenshot1.jpg" alt=""></a>
				<a title="開啟示範頁面" href="demo.html#state2"><img width="298" height="236" class="ipad" src="img/screenshot2.jpg" alt=""></a>
				<a title="開啟示範頁面" href="demo.html#state4"><img width="145" height="229" class="iphone" src="img/screenshot3.jpg" alt=""></a>
			</div>

		</div>
	</section>
	
	<section id="listing">
		<div class="iphone">
			<div class="point1 wow fadeIn" data-wow-delay="0.5s" >照片</div>
			<div class="point2 wow fadeIn" data-wow-delay="0.8s" >說明與價格</div>
			<div class="point3 wow fadeIn" data-wow-delay="1.1s" >連結<span class="point">POINT</span></div>
			<a href="img/demo.png"><img src="img/demo.png" alt="上架畫面"></a>
		</div>
		<div class="right">
			<h2>幾張圖、一行文、便利上架</h2>
			<p>告別落落長的文案，圖片與連結才是打動人心的關鍵。用手機拍幾張圖，輸入簡要說明，標上價格，訂單隨之而來。
			</p>
			<h3>添加「連結」為產品加分 <span class="point">POINT</span></h3>
			<p>除了圖片與文字外，您還可以為產品加上任何連結。</p>
			<p>有<strong class="underline">痞客邦</strong>部落客介紹過您的產品嗎？<br>3C 產品已經在 <strong class="underline">Mobile01</strong> 上有開箱文或規格了嗎？<br>上過新聞有 <strong class="underline">Youtube 影片</strong>介紹嗎？<br>輕鬆點擊即可加入。客人的推薦勝過任何文案。</p>	
			<!-- <p><br><img src="img/social.svg" alt="" width="185px;"></p> -->
		</div>
	</section>
	
	<section id="post-to-fb">
		<div class="left">
			<h2>同時發佈多個臉書頁</h2>
			<p>一鍵發佈到臉書粉絲頁與社團，地球上最多人逛的網站。Facebook 相簿就是你的品牌型錄，手機也能順暢瀏覽。逛粉絲團等於逛賣場！</p>
			<p>
			</p>
		</div>
		<div class="right">
			<img class="wow fadeInUp check-mark"  data-wow-delay="1s" src="img/check.svg" width="24" alt="" />
			<img class="wow fadeInUp check-mark"  data-wow-delay="1.2s" src="img/check.svg" width="24" alt="" />
			<img class="wow fadeInUp check-mark"  data-wow-delay="1.3s" src="img/check.svg" width="24" alt="" />
			<img class="wow fadeInUp check-mark"  data-wow-delay="1.4s" src="img/check.svg" width="24" alt="" />
			<img class="wow fadeInUp check-mark"  data-wow-delay="1.5s" src="img/check.svg" width="24" alt="" />
			<!--
						<img class="fb1" src="img/fb1.svg" width="282" alt="" />
						<img class="fb2" src="img/fb2.svg" width="282" alt="" />
			-->
		</div>
	</section>
	
	<section id="chats">
		<div class="left">
			<img width="409" src="img/chats.svg" alt="" data-wow-delay="1.5s"  class="wow fadeInLeft" />
		</div>
		<div class="right">
			<h2>為交易而生的即時通訊</h2>
			<p>請積極回答問題，甚至是聊聊天，<br/>讓顧客感受你的用心，像在市集那樣溫暖的交易吧。</p>
		</div>
	</section>
	
	<section id="detail">
		<h2>功能完整，輕鬆流程</h2>
		<div class="left">
			<img src="img/tags.svg" alt="" />
			<h3>金流與收款</h3>
			<p>商品發佈即可接受信用卡、ATM 轉帳、貨到付款。</p>
			<img src="img/shipping.svg" alt="" />
			<h3>運費與出貨</h3>
			<p>完整的訂單管理，簡便的運費設定，按下出貨按鈕時自動通知顧客。</p>
			<img src="img/rating.svg"alt="" style="position: relative; top: -5px; left: -1px;" />
			<h3>評價機制</h3>
			<p>每次交易，都有留下評價的機會，網路顧客更放心購買你的商品。</p>
			<img src="img/browser.svg" alt="" />
			<h3>網路版後台</h3>
			<p>手打也提供網頁版後台，用筆電傳訊息與處理訂單。</p>
		</div>
		<div class="right">
			<div class="rates">
				<h3>收費方式</h3>
				<p class="blue"><img width="185" height="96" class="rates wow fadeInUp"  data-wow-delay="1.5s"  src="img/free.svg" alt="" /><br/>零月費，零上架費，零交易費。</p>
				<p>未來我們會推出其他免費和收費功能，讓你專注創造更棒的商品與服務。</p>
				<ul>
					<li>刷卡銀行每筆交易收取 <span class="number">3.5％</span> 金流處理費。（推廣期間 <span class="number">2.45％</span>）</li>
					<li>ATM 轉賬每筆交易收取 <span class="number">1％</span> 金流處理費。（推廣期間<span class="number">免費</span>）</li>
					<li>每次撥款非玉山帳戶需負擔 <span class="number">NT$ 15</span> 匯費。</li>	
				</ul>
			</div>
			<!-- <hr />
			<div style="margin-left: -20px;" >
				<img src="img/kanban.svg" width="39" alt="" />
				<a class="go-to-shop" href="http://ruten.com.tw">馬上<br />選購</a>
				<h3>手打官方道具店</h3>
				<p>提升商品好感度！多款包材、店卡、貼紙熱烈試賣中。</p>
			</div> -->
		</div>
	</section>
	
	<section id="apply">
		<div class="center">
			<h2><img height="47" src="img/solda.svg" alt="" style="margin-bottom: 8px;" /><br/>早期商家免費招募中</h2>
			<p class="application wow rubberBand" data-wow-delay="1s"><a target="_blank" href="https://docs.google.com/forms/d/1EuR4oppcu1vIwzck6ElYOwz-Q59wyGW1l_L7S5KeAVw/viewform">立刻<br/>登記</a></p>
			<p>為維持服務品質，我們會分批發送邀請，<br/>服務穩定再慢慢增加商家，敬請耐心等候。</p>
			<h3>更多資訊</h3>
			<p class="social-links">
			<a href="https://www.facebook.com/groups/solda.seller/">手打商家社團<br/><span>Facebook 秘密社團</span></a>
			<a href="mailto:support@solda.io">聯繫我們<br/><span>support@solda.io</span></a>
<!-- 			<a class="inactive">媒體資訊<br/><span>coming soon</span></a>
			<a class="inactive">常見問題<br/><span>coming soon</span></a>
 -->			</p>
			<hr />
			<p><!-- <a href="#"><img src="img/company.svg" width="96" alt="" /><br/> --></a> Copyright 2014 © 手打自販股份有限公司</p>
		</div>
	</section>
	
	<%= livereload_js %>
</body>
</html>