<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Items</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='css/style.css' rel='stylesheet'>
		<link rel="stylesheet" href="css/jquery.remodal.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/effects.js"></script>
  </head>
	<body>
	  <div id="three-column-page" class="remodal-bg">

		<div class="remodal" data-remodal-id="modal">
	    <h1>地址</h1>
      <h2>台北市中正區忠孝東路二段 39 巷 2 弄 14 號 3F<br/>10016</h2>
	    <br>
	    <a class="remodal-confirm" href="#">OK</a>
		</div>

    <!-- state selector -->
    <div id="state1"></div>
    <div id="state2"></div>
    <div id="state3"></div>
    
    <ul class="menu-content">
  	  <a class="logout" href="#">Logout</a>
    	<li>
    	  <a href="messages.html">
      	  <i data-icon="d"></i>
      	  <span>Messages</span>
    	  </a>
    	 </li>
    	<li>
    	  <a href="profile.html">
      	  <i data-icon="n"></i>
      	  <span>Profile</span>
    	  </a>
    	 </li>
    	<li>
    	  <a href="items.html">
      	  <i data-icon="m"></i>
      	  <span>Items</span>
    	  </a>
    	 </li>
    </ul>

    <nav>
      <div class="nav-wrapper">
        <a href="#state1"><span>Items</span></a>
        <a href="#state2"><span>Selling</a>
        <a href="#state3"><span>Info</span></a>
        <span class="dropdown">
          <i data-icon="l"></i>
        </span>
      </div>
    </nav>

    <div id="browser">
      <div id="column-container">
        <section id="column1">
          <ul>
          	<li class="current">
          	  <a href="#state2">
            	  <i data-icon="h"></i>
            	  <span>Selling</span>
          	  </a>
          	 </li>
          	<li>
          	  <a href="#state2">
            	  <i data-icon="f"></i>
            	  <span>Orders</span>
          	  </a>
          	 </li>
          	<li>
          	  <a href="#state2">
            	  <i data-icon="g"></i>
            	  <span>Purchased</span>
          	  </a>
          	 </li>
          </ul>
        </section>

				<section id="column2">
  <ul class="orders">
    <li class="section-header">
      <span>3</span> Waiting to be shipped 
    </li>
  	<li class="current">
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">今天</small>
  	      <small class="people">To: <strong>Allen Weeks</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">多種商品</strong>Quo explicabo porro ea corporis ut molestiae recusandae voluptatem quae dolor nobis eum quia illum. Ea repellat omnis molestiae maiores similique dolorem non voluptatem eum libero aut id vel et</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>
    
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">昨天</small>
  	      <small class="people">To: <strong>Kerry Barton</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 3</strong>Possimus asperiores porro tenetur ducimus nihil dolores pariatur molestias sit dolores architecto. Sit quia tenetur sed</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">昨天</small>
  	      <small class="people">To: <strong>Francesca Palmer</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 3</strong>Repellendus possimus accusantium deserunt dolor sed dolorem consequuntur quam alias quaerat ut qui perspiciatis. Et aut quaerat qui vitae nostrum illum sapiente aut sit saepe sit</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">昨天</small>
  	      <small class="people">To: <strong>Chris Weinstein</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 3</strong>Dolorem harum pariatur qui architecto eligendi maxime. Incidunt et ab provident numquam</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
    <li class="section-header">
      <span>8</span> Completed 
    </li>
    
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Colm Desai</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Ipsum ut rerum animi omnis ut optio placeat dolores. Similique non autem iste similique facilis voluptatem eius consectetur molestiae</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Anahi Graves</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Sed nostrum aut nemo non modi facilis ipsa repellat est quibusdam earum quis autem alias. Mollitia molestiae velit voluptatibus mollitia nobis quod ex nobis aut provident dolorem eveniet qui ipsam</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>inn Brady</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Id quis laboriosam ipsum velit eius earum quibusdam hic minima cum deleniti. Voluptatem eos et delectus incidunt non aperiam corporis quia et occaecati rerum corporis</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Jackie Graves</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Non sunt dolores aliquam quibusdam beatae nam qui aut iusto voluptas quo ut fuga quod. Doloribus est occaecati porro error quia ab facilis quis ut deserunt et non distinctio</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Agnes Wilkerson</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Et ut porro optio eos nihil tempore ipsam saepe impedit accusantium. Recusandae voluptatem quod consequatur sunt quibusdam numquam esse officia eos in rem sit</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Raul Hanna</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Est sit sit numquam eligendi voluptate facere sed illum omnis ea a architecto accusantium aperiam. Tenetur et quasi quaerat quam labore quo nam</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Yvonne Walton</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Ipsum quae exercitationem est quos earum iusto distinctio voluptas modi architecto eos voluptas at dolor. Cumque soluta assumenda sed hic doloremque beatae sed in ea</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Jared McKenna</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Dolorem labore nisi porro recusandae architecto qui minima autem aut quis. Dolore saepe commodi totam aut vel</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  </ul>
</section>


        <section id="column3">
          <div class="invoice">
          
						<h2 class="invoice-header"><span class="invoice-number">#59371</span><span class="time-stamp">2013/2/23 5:10 PM</span></h2>


            <ul>
            	<li>
            	  <b>
              	  <i data-icon="i"></i>
              	  <span class="right-label">$15</span>
              	  <span>運費</span>
            	  </b>
            	 </li>
            	<li>
            	  <b>
              	  <i data-icon="k"></i>
              	  <span class="right-label">$335</span>
              	  <span>總計</span>
            	  </b>
            	 </li>
            	<li class="demo1" style="border: none;"> <!-- useless class just for demoing invoice status -->
            	  <b>
              	  <i data-icon="j"></i>
              	  <a href="#state3" class="invoice-action" rel="mark-shipped">標記出貨</a>
              	  <span>狀態</span>
            	  </b>
            	 </li>
            	<li class="demo2" style="border: none;"> <!-- useless class just for demoing invoice status -->
            	  <b>
              	  <i data-icon="j"></i>
              	  <span class="right-label" rel="mark-shipped">已出貨，等待評價</span>
              	  <span>狀態</span>
            	  </b>
            	 </li>
            	<li class="demo3" style="border: none;"> <!-- useless class just for demoing invoice status -->
            	  <b>
              	  <i data-icon="j"></i>
              	  <span class="right-label" rel="mark-shipped">已評價</span>
              	  <span>狀態</span>
            	  </b>
            	 </li>
            </ul>

            <h2>處理記錄</h2>

            <h4 ng-if="current_invoice.payment_state == 'paid'" class="ng-scope ng-binding">Paid at 2014/5/29 下午 04:29</h4>
            <h4 ng-if="current_invoice.payment_state == 'paid'" class="ng-scope ng-binding">Shipped at 2014/5/29 下午 04:29</h4>
            <h4 ng-if="current_invoice.payment_state == 'paid'" class="ng-scope ng-binding">Reviewed at 2014/5/29 下午 04:29</h4>

						<div class="demo3">
							<h2>評價</h2>
							<p><img class="rating-image" src="img/good.svg">「這個手機套比想像中質感還好！」<small class="description">— 林長逸</small></p>
						</div>
            <h2>寄送資訊</h2>
            <h3>張育豪</h3>
            <p class="address">台北市中正區忠孝東路二段 39 巷 2 弄 14 號 3F<br/>10016</p>
            <p class="description"><a href="tel:02-8893-8282">02-8893-8282</a></p>
            <h2>運送方式</h2>
						<div class="shipping-options-wrapper">
	          	<div class="option-content">
		            <div class="convenient-store no-border"><div data-icon="s"></div><strong>超商取貨</strong><br/>NT$ 180</div>
	          	</div>							
						</div>
						
            <h2>買家</h2>
            <a href="messages.html" class="direct-contact"><i data-icon="d"></i></a>
            <h3><a href="profile.html">林長逸</a></h3>
            <p class="description"><a href="tel:+886-921-757-696">+886-921-757-696</a></p>
            <h2>備註</h2>
            <p>麵包不要考太焦，謝謝。</p>
            <h2>消費明細</h2>
            
						<ul class="orders">
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Quia mollitia velit architecto velit porro maiores maiores aut iste et. Non voluptatem a commodi placeat laudantium dolorem voluptatem omnis est fugiat molestias provident</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 2</strong>Esse quisquam est hic error adipisci vero et unde similique in culpa et. Ea aperiam aut molestiae sapiente tenetur asperiores perferendis eligendi et rerum corrupti eius recusandae</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>
  	<li>
  	  <a href="#state3">
    	  <img src="img/5.jpg" alt="" />
  	    <div class="meta">
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Alias architecto est nam non totam. Suscipit blanditiis vero doloribus provident nam similique sequi ut eveniet exercitationem blanditiis quisquam ipsa velit</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>

</ul>

            
            <h2>交易問題處理</h2>
						<p>處理退換貨問題超過 21 工作天？<a href="#" >暫緩撥款</a>。</p>
						<p>如果出現無法排除的問題，您可以<a href="#">提出交易申訴</a></p>
          </div>
        </section>
      </div>
    </div>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </div>
  <script src="js/jquery.remodal.min.js"></script>
  </body>
</html>