/* line 1, style.scss */
body {
  background: black;
  color: white;
}

/*
h1.logo-text {
	text-indent: -9999px;
	background: url("../img/solda.svg") center center no-repeat;
	background-size: 276px;
	width: 276px;
	height: 62px;
	display: block;
}
*/
/* line 17, style.scss */
video {
  width: 100%;
  -webkit-mask: url("../img/video-mask.svg") center top no-repeat;
  -webkit-mask-size: 594px;
  -webkit-filter: blur(15px) saturate(0.8) brightness(1.2);
  transition-property: -webkit-filter;
  transition-duration: 0.7s;
}
/* line 24, style.scss */
video:hover {
  -webkit-filter: blur(0px) saturate(1) brightness(1);
}
