<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Items</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='css/style.css' rel='stylesheet'>
		<link rel="stylesheet" href="css/jquery.remodal.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/effects.js"></script>
  </head>
	<body>
	  <div id="three-column-page" class="remodal-bg">

		<div class="remodal" data-remodal-id="modal">
	    <h1>地址</h1>
      <h2>台北市中正區忠孝東路二段 39 巷 2 弄 14 號 3F<br/>10016</h2>
	    <br>
	    <a class="remodal-confirm" href="#">OK</a>
		</div>

    <!-- state selector -->
    <div id="state1"></div>
    <div id="state2"></div>
    <div id="state3"></div>
    
    <ul class="menu-content">
  	  <a class="logout" href="#">Logout</a>
    	<li>
    	  <a href="messages.html">
      	  <i data-icon="d"></i>
      	  <span>Messages</span>
    	  </a>
    	 </li>
    	<li>
    	  <a href="profile.html">
      	  <i data-icon="n"></i>
      	  <span>Profile</span>
    	  </a>
    	 </li>
    	<li>
    	  <a href="items.html">
      	  <i data-icon="m"></i>
      	  <span>Items</span>
    	  </a>
    	 </li>
    </ul>

    <nav>
      <div class="nav-wrapper">
        <a href="#state1"><span>Items</span></a>
        <a href="#state2"><span>Selling</a>
        <a href="#state3"><span>Info</span></a>
        <span class="dropdown">
          <i data-icon="l"></i>
        </span>
      </div>
    </nav>

    <div id="browser">
      <div id="column-container">
        <section id="column1">
          <ul>
          	<li>
          	  <a href="#state2">
            	  <i data-icon="h"></i>
            	  <span>Selling</span>
          	  </a>
          	 </li>
          	<li>
          	  <a href="#state2">
            	  <i data-icon="f"></i>
            	  <span>Orders</span>
          	  </a>
          	 </li>
          	<li>
          	  <a href="#state2">
            	  <i data-icon="g"></i>
            	  <span>Purchased</span>
          	  </a>
          	 </li>
          </ul>
        </section>

				<section id="column2">
  <ul class="orders">
    <li class="section-header">
      <span>3</span> Waiting to be shipped 
    </li>
  	<li class="current">
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">今天</small>
  	      <small class="people">To: <strong>Harvey Monroe</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">多種商品</strong>Sunt ipsum vitae cumque ut possimus. Omnis necessitatibus voluptatem sit eum commodi inventore aut exercitationem molestiae autem corporis ducimus omnis</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>
    
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">昨天</small>
  	      <small class="people">To: <strong>Marianne McLean</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 3</strong>Minus est repudiandae recusandae beatae id esse amet sit architecto ut dolorum excepturi. Sit officia quos dolor animi exercitationem sunt aspernatur et eveniet ut eligendi</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">昨天</small>
  	      <small class="people">To: <strong>Lexi Siegel</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 3</strong>Vel molestiae explicabo sit et deserunt iste praesentium dolor sunt ea corrupti ea dolor. Molestias et soluta sunt est quia aliquam</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">昨天</small>
  	      <small class="people">To: <strong>Maisie McAllister</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 3</strong>Architecto qui quod ipsa similique vel sed sit in impedit maxime ipsum occaecati dolores veniam. Sed qui perspiciatis ut ab suscipit ratione animi voluptas eum</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
    <li class="section-header">
      <span>8</span> Completed 
    </li>
    
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Vanessa Sharpe</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Aut blanditiis repellat corrupti exercitationem excepturi quo excepturi eos voluptatibus dolores expedita. Id dolorem et impedit ex atque nulla eum vel magnam</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Shawn Weeks</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Vitae nihil molestiae non fugiat et suscipit. Corporis exercitationem qui accusantium</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Virgil Moon</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Sunt occaecati aut possimus dolores neque omnis et est sequi autem reprehenderit nobis. Rerum quas molestias modi ullam eum ut facilis omnis et eum ipsum aut consequatur est</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Clinton Hanna</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Ducimus enim animi dolorum sint ea. Repudiandae blanditiis qui aut voluptas facere aut pariatur</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Shirley Nichols</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Dolore maiores aut quis cupiditate et. Saepe dignissimos dolorem non est sunt totam eos</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Tricia Farrell</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>In laboriosam et sed voluptas amet. Quo laborum nihil amet enim sit et iste enim</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Johnnie Olsen</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Quia sit aliquam officia at nemo laborum qui fugit. Incidunt ipsum velit dolorum dolorem quia illum vero</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	      <small class="time-stamp">2 天前</small>
  	      <small class="people">To: <strong>Guy Clapp</strong></small>
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Distinctio quis rerum molestiae deleniti ut sit in soluta. Suscipit ex numquam quaerat itaque nam optio quia laborum unde</span>
    	  <small class="price"><strong>$39</strong> + $14</small>
  	  </a>
	 </li>
	 
  </ul>
</section>


        <section id="column3">
          <div class="invoice">
						<h2 class="invoice-header"><span class="invoice-number">#59371</span><span class="time-stamp">2013/2/23 5:10 PM</span></h2>

            <ul>
            	<li>
            	  <b>
              	  <i data-icon="i"></i>
              	  <span class="right-label">$15</span>
              	  <span>運費</span>
            	  </b>
            	 </li>
            	<li>
            	  <b>
              	  <i data-icon="k"></i>
              	  <span class="right-label">$335</span>
              	  <span>總計</span>
            	  </b>
            	 </li>
            	<li class="demo1" style="border: none;"> <!-- useless class just for demoing invoice status -->
            	  <b>
              	  <i data-icon="j"></i>
              	  <span class="right-label" rel="mark-shipped">等待出貨</span>
              	  <span>狀態</span>
            	  </b>
            	 </li>
            	<li class="demo2" style="border: none;"> <!-- useless class just for demoing invoice status -->
            	  <b>
              	  <i data-icon="j"></i>
              	  <a href="#state3" class="invoice-action with-icon" rel="mark-shipped"><div class="icon-smile"></div>確認收貨與評價</a>
              	  <span>狀態</span>
            	  </b>
            	 </li>
            	<li class="demo3" style="border: none;"> <!-- useless class just for demoing invoice status -->
            	  <b>
              	  <i data-icon="j"></i>
              	  <span class="right-label" rel="mark-shipped">已評價</span>
              	  <span>狀態</span>
            	  </b>
            	 </li>

            </ul>

            <h2>處理記錄</h2>

            <h4 ng-if="current_invoice.payment_state == 'paid'" class="ng-scope ng-binding">Paid at 2014/5/29 下午 04:29</h4>
            <h4 ng-if="current_invoice.payment_state == 'paid'" class="ng-scope ng-binding">Shipped at 2014/5/29 下午 04:29</h4>
            <h4 ng-if="current_invoice.payment_state == 'paid'" class="ng-scope ng-binding">Reviewed at 2014/5/29 下午 04:29</h4>

						<div class="demo3">
							<h2>評價</h2>
							<p><img class="rating-image" src="img/good.svg">「這個手機套比想像中質感還好！」<small class="description">— 林長逸</small></p>
						</div>

            <h2>有問題嗎？聯絡賣家</h2>
            <a href="messages.html" class="direct-contact"><i data-icon="d"></i></a>
            <h3><a href="profile.html">藍永倫</a></h3>
<!--             <p class="address">台北市中正區忠孝東路二段 39 巷 2 弄 14 號 3F<br/>10016</p> -->
            <p class="description"><a href="tel:+886-921-757-696">+886-921-757-696</a></p>

            <h2>寄送資訊</h2>
            <h3>林長逸</h3>
            <p class="address">台北市中正區忠孝東路二段 39 巷 2 弄 14 號 3F<br/>10016</p>
            <p class="description"><a href="tel:02-8893-8282">02-8893-8282</a></p>
            <h2>運送方式</h2>
						<div class="shipping-options-wrapper">
	          	<div class="option-content">
		            <div class="convenient-store no-border"><div data-icon="s"></div><strong>超商取貨</strong><br/>NT$ 180</div>
	          	</div>							
						</div>
						
            <h2>備註</h2>
            <p>麵包不要考太焦，謝謝。</p>
            <h2>消費明細</h2>
            
						<ul class="orders">
  	<li>
  	  <a href="#state3">
    	  <img src="img/1.jpg" alt="" />
  	    <div class="meta">
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Eaque qui eius est voluptatem assumenda dolorem fuga eaque corrupti voluptatem beatae. Dignissimos culpa assumenda ipsam aliquid numquam illo deleniti qui praesentium nisi est quibusdam totam</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>
  	<li>
  	  <a href="#state3">
    	  <img src="img/3.jpg" alt="" />
  	    <div class="meta">
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 2</strong>Non quis voluptatem ipsa molestiae provident nulla quibusdam. Voluptas qui earum eum et hic non</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>
  	<li>
  	  <a href="#state3">
    	  <img src="img/5.jpg" alt="" />
  	    <div class="meta">
  	    </div>
    	  <span class="product-name"><strong class="quantity">× 1</strong>Necessitatibus repudiandae sed at. Ea voluptatum aspernatur in doloremque quasi dolorem nobis tempora</span>
    	  <small class="price"><strong>$39</strong></small>
  	  </a>
	 </li>

</ul>


            <h2>交易問題處理</h2>
	          <p>您的款項會在您確認收到商品給予評價後，才會撥款給賣家；若您沒有確認或反應任何問題，則在 21 工作天後撥款。如果收到商品後有任何問題，請傳文字訊息或圖片給賣家說明。</p>
	          <p class="description">貨到付款、面交等不在此限。</p>
						<p>如果出現無法排除的問題，您可以<a href="#">提出交易申訴</a>，</p>
          </div>
        </section>
      </div>
    </div>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </div>
  <script src="js/jquery.remodal.min.js"></script>
  </body>
</html>