/* line 1, page-demo.scss */
body {
  font-family: sans-serif;
  background: url("../img/low_contrast_linen_@2X.png");
  background-size: 256px 256px;
  overflow: hidden;
}

/* line 8, page-demo.scss */
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}

/* line 14, page-demo.scss */
.content::-webkit-scrollbar {
  display: none;
}

/* line 17, page-demo.scss */
.content {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 2.5s;
  overflow-y: scroll;
}

/* line 27, page-demo.scss */
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

/* line 34, page-demo.scss */
#wrapper iframe {
  width: 100%;
  height: 100%;
}

/* line 41, page-demo.scss */
h1 {
  margin: 20px 0;
  line-height: 40px;
  font-size: 26px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

/* line 49, page-demo.scss */
.demo-instruction {
  position: fixed;
  padding-top: 18px;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;
  text-align: center;
  color: white;
  font-size: 13px;
}
/* line 60, page-demo.scss */
.demo-instruction a {
  font-size: 14px;
  text-decoration: none;
  line-height: 27px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}
/* line 61, page-demo.scss */
.demo-instruction a:hover {
  background: white;
  color: black;
}
/* line 71, page-demo.scss */
.demo-instruction .capsules {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 6px;
  overflow: hidden;
  width: 323px;
}
/* line 78, page-demo.scss */
.demo-instruction .capsules a {
  margin-right: 1px;
  width: 80px;
  box-sizing: border-box;
  height: 27px;
  display: inline-block;
}
/* line 79, page-demo.scss */
.demo-instruction .capsules a:last-child {
  margin-right: 0px;
}
/* line 89, page-demo.scss */
.demo-instruction .back, .demo-instruction .close {
  background: none;
  display: inline-block;
  line-height: 27px;
  height: 27px;
  font-weight: bold;
}
/* line 95, page-demo.scss */
.demo-instruction .back:hover, .demo-instruction .close:hover {
  color: white;
  background: none;
}

/* line 102, page-demo.scss */
#state1:target ~ .content #wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 107, page-demo.scss */
#state2:target ~ .content #wrapper {
  width: 1024px;
  height: 768px;
  margin: 30px auto;
}

/* line 112, page-demo.scss */
#state3:target ~ .content #wrapper {
  width: 658px;
  height: 768px;
  margin: 30px auto;
}

/* line 117, page-demo.scss */
#state4:target ~ .content #wrapper {
  width: 320px;
  height: 568px;
  margin: 30px auto;
}
